@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    background-color: #293251;
}

#main {
    width: 75%;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.weather{
    margin:1rem;
    background-image: linear-gradient(to right, #0d0d0d , #222021);
    padding:1em;
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 45px 0 #ffffff10;
}
.weather .weather-icon{
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
}

.weather-icon img{
    max-width: 85px;
}

.weather .weather-icon p{
    margin-top: -30px;
    color: #ffffff80;
    margin: 0;
}

.weatherCity{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.weather p:nth-child(1){
    background: #242223;
    width: max-content;
    border-radius: 5px;
    padding: 0.2em 1em;
    border: 1px solid #4b4a4b;
}

.weather .desc{
    display: flex;
    justify-content: space-between;
}

.weather .desc img{
    width: 17px;
    margin-right: 7px;
    opacity: 0.7;
}

.weather ul li{
    align-items: center;
    display: flex;
}

.weather .left-desc{
    width: 50%;
    text-align: left;
}

.weather .right-desc{
    width: 50%;
    align-self: center;
    text-align: right;
    font-size: 2.5em;
}

.weather *{
    color: #fff;
}

.weather ul{
    list-style: none;
    padding: 0;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
}

input {
    background-color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    min-width: 300px;
}

input:focus {
    outline: none;
}